<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>Login</h1> <hr>
<img th:src= "@{/img/logo.jpeg}"/>

<form action="/loginProcess" th:object = "${userdto}" method="POST">
    <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
    <!--id : <input type="text" th:field = "*{email}" name="username"> <br>-->
    id : <input type="text" th:field = "*{email}"> <br>
    <!--password : <input type="password" th:field = "*{password}" name="password"> <br>-->
    password : <input type="password" th:field = "*{password}"> <br>
    <button type="submit">Login</button>
</form> <br>

<a href="/signup">Go to join! →</a>
</body>
</html>



<!--문법 참고 : https://cyberx.tistory.com/132 -->